body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-light{
    color: #000000 !important;
    margin-left: 5px;
}

.table-style, th, td {
    border: 2px solid #808080;
    padding: 10px 10px;
    border-spacing: 30px;
    text-align: justify;
}
.table-style {
    width: 100%;
    border-radius: 20%;
}

.btn-default{
    padding: 10px; 10px;
    list-style: none;
    margin-bottom: 20px;
}

.field-validation-error {
    color: #ff0000;
}

.btn-details {
   
    margin: 10px 0px 0px 0px;
    padding: 5px 10px;
    border: 1px solid #d6d1d1;
}

